---
import { Button } from "@/components/ui/button";
---

<section class="relative bg-primary-dark py-14 md:py-20 lg:py-24">
  <img
    src="/assets/cta-decor-top.svg"
    class="absolute right-0 bottom-4/5 w-14 md:bottom-3/4 md:w-20 lg:w-auto"
    alt="Greensoftware Leaf"
  />
  <img
    src="/assets/cta-decor-bottom.svg"
    class="absolute top-4/5 left-0 w-14 md:top-3/4 md:w-20 lg:w-auto"
    alt="Greensoftware Leaf"
  />

  <div class="container max-w-3xl">
    <div class="flex flex-col items-center justify-center text-center text-white">
      <h1 class="mb-3 text-2xl font-semibold md:mb-4 md:text-3xl lg:text-4xl">
        Future of Sustainable Computational Energy
      </h1>
      <p class="text-sm md:text-base">
        Whether you're managing data centers, developing AI applications, or driving sustainability
        initiatives, your experience and insights can help create a standard that transforms how the
        world thinks about computational energy. Together, we can build an infrastructure where
        performance and sustainability become equal partners.
      </p>

      <div class="mt-6 flex flex-col items-center gap-4 md:mt-8 md:flex-row md:gap-6">
        <Button variant="primary-invert">
          <a href="#get-involved"> Get Involved Today </a>
        </Button>
        <Button variant="link" size="link">
          <a href="mailto:workload-dynamic-power-cooling@greensoftware.foundation"
            >Contact the team</a
          >
        </Button>
      </div>
    </div>
  </div>
</section>
