---
import { Client } from '@notionhq/client';
import {
  getSecret
} from 'astro:env/server'
const databaseId = getSecret('NOTION_MEMBERS_DATABASE_ID');
const apiKey =  getSecret('NOTION_TOKEN');
console.log(databaseId, apiKey);
if (databaseId && apiKey) {
  const notion = new Client({
  auth: apiKey,
})
  try {
    const data = await notion.dataSources.query({
      data_source_id: databaseId,
    });
    console.log("[Notion] Members DB query result:", data);
  } catch (error) {
    console.error("[Notion] Query failed", error);
  }
} else {
  console.warn("[Notion] Missing NOTION_MEMBERS_DATABASE_ID or API key env var");
}
---

<section class="pb-12 md:pb-16 lg:pb-20">
  <div class="relative container overflow-hidden">
    <h1 class="mb-6 text-center text-base font-medium md:mb-8">
      Building the future of intelligent energy coordination
    </h1>
    <div class="relative flex items-center overflow-hidden pt-7 md:pt-0">
      <div
        class="absolute top-0 bottom-0 left-0 z-10 w-20 bg-gradient-to-r from-accent-lightest-2 to-transparent"
      >
      </div>
      <div
        class="absolute top-0 right-0 bottom-0 z-10 w-20 bg-gradient-to-l from-accent-lightest-2 to-transparent"
      >
      </div>
      <div class="flex shrink-0 animate-marquee items-center">
        <img class="mx-6 max-h-12 shrink-0 md:max-h-14" src="/assets/logo1.svg" />
        <img class="mx-6 max-h-12 shrink-0 md:max-h-14" src="/assets/logo2.svg" />
        <img class="mx-6 max-h-12 shrink-0 md:max-h-14" src="/assets/logo3.svg" />
        <img class="mx-6 max-h-12 shrink-0 md:max-h-14" src="/assets/logo4.svg" />
        <img class="mx-6 max-h-12 shrink-0 md:max-h-14" src="/assets/logo5.svg" />
        <img class="mx-6 max-h-12 shrink-0 md:max-h-14" src="/assets/logo6.svg" />
        <img class="mx-6 max-h-12 shrink-0 md:max-h-14" src="/assets/logo7.svg" />
        <img class="mx-6 max-h-12 shrink-0 md:max-h-14" src="/assets/logo8.svg" />
      </div>
      <div class="flex shrink-0 animate-marquee items-center">
        <img class="mx-6 max-h-12 shrink-0 md:max-h-14" src="/assets/logo1.svg" />
        <img class="mx-6 max-h-12 shrink-0 md:max-h-14" src="/assets/logo2.svg" />
        <img class="mx-6 max-h-12 shrink-0 md:max-h-14" src="/assets/logo3.svg" />
        <img class="mx-6 max-h-12 shrink-0 md:max-h-14" src="/assets/logo4.svg" />
        <img class="mx-6 max-h-12 shrink-0 md:max-h-14" src="/assets/logo5.svg" />
        <img class="mx-6 max-h-12 shrink-0 md:max-h-14" src="/assets/logo6.svg" />
        <img class="mx-6 max-h-12 shrink-0 md:max-h-14" src="/assets/logo7.svg" />
        <img class="mx-6 max-h-12 shrink-0 md:max-h-14" src="/assets/logo8.svg" />
      </div>
    </div>
  </div>
</section>
